@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans.woff2") format("woff2");
}

body {
  margin: 1em 2em;
  user-select: none;
  font-family: "Noto Sans", Fallback, sans-serif;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #dee1e6 0%, #f1f3f4 100%);
  line-height: 1em;
  min-width: 150px;
  max-width: 200px;
  /* zoom: 1; */ /* set up in popup.html to avoid zoom bugs */
  /* TODO: lazy fix, replace with em */
}

/* multiple select */
/* #testType {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
} */

input[type="button"] {
  font-family: "Noto Sans", Fallback, sans-serif;
  margin: 0 0 5px 0;
}

input[type="checkbox"] {
  font-family: "Noto Sans", Fallback, sans-serif;
  vertical-align: middle;
  margin: 3px 0;
}

label {
  font-weight: normal;
}

select, input, textarea {
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

select:hover {
  background-color: #eee;
}

#support {
  background: none;
  border: none;
  text-align: center;
  font-size: 0.7em;
  margin-top: 2em;
  margin-bottom: 0;
  padding: 0;
}

#support,
input[type="button"],
input[type="checkbox"],
select,
.cb {
  cursor: pointer;
}

#supportLink {
  color: #ef5592;
  text-decoration: underline;
  opacity: 0.87;
  /* transition: opacity .2s ease-in-out; */
}

#supportLink:hover {
  color: #c52464;
  opacity: 1;
  /* transition doesn't work for some reason */
  /* transition: transform 0.225s ease-in;
  transform: scale(1.5); */
}

.disabled {
  cursor: default !important;
}

#info {
  opacity: 0.7;
  transition: opacity .2s ease-in-out;
}

#info:hover {
  opacity: 1;
}


/* ====== AI ======== */

#customPrompt {
  resize: vertical;
  overflow: hidden;
  /* height: 5em; */
  width: 100%;
  min-height: 1em;
  field-sizing: content; 
  -webkit-field-sizing: content;
  -moz-field-sizing: content;
}

input[type="text"], textarea {
  font-family: "Noto Sans", Fallback, sans-serif;
  width: 100%;
}


/* DARK MODE, these settings should be applied at the end */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(180deg, #353535 0%, #202124 100%) !important;
    color: #fff !important;
  }

  #support {
    color: white;
  }

  select, input, textarea {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
  }

  select:hover, input:hover, textarea:hover {
    background-color: #111;
  }

  select option {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  input[type="button"] {
    font-family: "Noto Sans", Fallback, sans-serif;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: 1px solid #525252;
    border-radius: 1px;
  }

  input[type="text"], textarea {
    border: 1px solid #525252;
    border-radius: 1px;
  }

  input[type="button"]:hover, input[type="text"]:hover, textarea:hover {
    background-color: #111;
    /* border: 1px solid #aaa; */
  }

  /* #panda,
  #kofi {
    filter: invert(1);
  } */

  #info:hover {
    color: #fff;
    opacity: 1;
  }

}